* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: blue;
    height: 15%;
    padding: 10px;
}

.gifWindow {
    background-color: white;
    float: left;
    height: 100%;
    width: 60%;
    display: inline-block;
}

.searchWindow {
    background-color: white;
    display: inline-block;
    float: left;
    width: 40%;
    height: 100%;
}

.searchBar {
    width: 75%;
}

button {
    padding: 3px;
}